<!-- <ul> -->
<!--   <li *ngFor="let gif of resultados"> -->
<!--       {{gif.title}} -->
<!--   </li> -->
<!-- </ul> -->


<div class="grid grid-cols-3 gap-4">
  <!-- <div class="rounded overflow-hidden shadow-lg"> -->
    <div *ngFor="let gif of resultados" class="px-6 py-4 animate__animated animate__fadeIn">
    <img  [src]="gif.images.downsized_medium.url" alt="gif.title">
      <!-- <div class="font-bold text-xl mb-2">Título de la tarjeta</div> -->
      <p class="text-gray-700 text-base">
      {{gif.title}}
      </p>
    </div>
  <!--   <div class="px-6 pt-4 pb-2"> -->
  <!--     <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Etiqueta 1</span> -->
  <!--     <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Etiqueta 2</span> -->
  <!--     <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">Etiqueta 3</span> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- Repite esta estructura para cada tarjeta que quieras agregar -->
</div>
